:root {
    --primary-color: #023047;
    --secondary-color: #ffb703;
    --third-color: #e6e8e6;

    --border-color: #023047;

    --icons-color: #ffb703;

    --error-color: #B61A1A;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}