:root {
    --primary-color: #22223b;
    --secondary-color: #4a4e69;
    --text-color: #f2e9e4;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}