:root {
    --primary-color: #463f3a;
    --secondary-color: #bcb8b1;

    --text-primary-color: #e6e8e6;
    --text-secondary-color: #463f3a;

    --border-color: #463f3a8c;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}